/* Use box sizing to make height/width determinations more logical */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BODY styling */
body {
    background-color: #d9dcd6;
}

/* HEADER elements styling */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

    /* style h1 span */
.header h1 .seo {
    color: #d9dcd6;
}

    /* style the nav container */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

    /* style links with no list markers */
.header nav ul {
    list-style-type: none;
}

    /* make links display inline with spacing */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

    /* style links text */
a {
    color: #ffffff;
    text-decoration: none;
}

    /* add hover effect to links */
a:hover {
    color: orange;
  }

/* End of HEADER styling */

/* Style the big image */
.team-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Style all paragraphs  font size */
p {
    font-size: 16px;
}

/* CONTENT section element styles */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

    /* Style all 3 content blocks */
.content-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

    /* style content images size */
.content-block img {
    max-height: 200px;
}

    /* float content images so they alternate sides */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

    /* style content headers */
.content-block h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* End of CONTENT section */

/* Benefits ASIDE styling */
    /* overall styling for benefits aside */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 940px;
    overflow: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

    /* style each article header */
.benefit-item h3 {
    margin-bottom: 10px;
    text-align: center;
}

    /* style each article image */
.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

    /* style text in each ASIDE article */
.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}
    
/* End of Benefits ASIDE */

/* Footer section styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

    /* style footer header */
.footer h2 {
    font-size: 20px;
}
